.main-block {
    margin-top: 30px;
}

.content img {
    width: 100%;
}

.search-button {
    border: 1px solid #fff;
    width: 100%;
    padding: 3px 0px 3px 10px;
    cursor: text;
}

.content .highlight {
    background-color: yellow;
}